#edit-profile-form {
    margin-top:10px;
    padding:10px;
}

#edit-profile-form > label {
    display:block;
    font-weight:bold;
    font-size:14px;
    margin-top:5px;
}

#edit-profile-form  input {
    display:block;
    width: 280px;
    height:22px;
    border-radius:5px;
    border: 1px solid lightgray;
}

#bio {
    height: 44px !important;
}

#edit-profile-submit {
    margin-top:20px;
    background-color:#0195f7;
    border:0;
    border-radius:5px;
    color:white;
    height:30px;
    width:280px;

}